#city{
    font-weight: 700;
}
#title{
    font-size: 20px;
}
.weather_box{
    text-align: center;
}
#myimg{
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
#weather_condition{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 25px;
    font-weight: 700;
    font-size: 60px;
}
#temperature{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    font-weight: 700;
    font-size: 60px;
}
#wet{
    width: 40px;
    margin-top: 70px;
    margin-right: 130px;
}
#wind{
    width: 40px;
    margin-top: 70px;
    margin-left: 130px;
}
#airwet{
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -10px;
    right: 8px;
    margin-right: 100px;
}
#airwind{
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    vertical-align: middle;
    margin-left: 110px;
}
.weather-check{
    text-align: center;
}
.Card{
    margin-top: 30px;
}
#card{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
#Title{
    margin-top: 100px;
}